header.top-navigation{
    padding: .5rem 2rem;
    background-color: #202124;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
header.top-navigation a{
    color: #fff;
    font-size: 18px;
}
header.top-navigation .nav-wrapper{
    width: 100%;
    justify-content: flex-end;
}
header.top-navigation .nav-wrapper li .nav-link{ 
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 1s ease;
}
header.top-navigation .nav-wrapper li:last-child .nav-link{
    padding-right: 0rem;
}
header.top-navigation .nav-wrapper li:hover .nav-link{
    color: #ddd;
}